*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
@font-face{
    font-family: "novencetowide";
    src: url(../asset/font/novecentowide_demibold/Fonts/Novecentosanswide-DemiBold.otf);
}
@font-face{
    font-family: "pacifico";
    src: url(../asset/font/pacifico_fonts/Pacifico-Regular.ttf);
}
:root{
    --font-logo:"pacifico";
    --font-novencento:"novencetowide";
}
body{
    background-color: #fefefe;
}
.header-container{
    width: 75%;
    margin: auto;
}
.navbar-top{
    border-bottom: 2px solid #cccccc;
}
.navbar-list-one{
    display: flex;
    margin: 20px 0px 15px 0px;
}
.navbar-list-one li{
    list-style-type: none;
}
.navbar-list-one a{
    text-decoration: none;
    color:  #666262;
}
.navbar-list-one li:nth-of-type(2){
    margin-left: auto;
}
.navbar-list__item__logo{
    font-family: var(--font-logo);
    font-size: 2vw;
    color:  #666262;
}
.navbar-list__item a{
    font-size: 25px;
    border-radius: 100%;
    margin-right: 5px;
}
.navbar-list__item{
    margin-top: 10px;
}
.navbar-list__item a:hover{
    color: #6662627d;
}
.navbar-list-two{
    display: flex;
    margin: 20px 0px 20px  0px;
    justify-content: space-between;
}
.navbar-list-two li{
    list-style-type: none;
    /* justify-content: space-between; */
    /* margin-left: 20px; */
}
.navbar-list-two li:nth-of-type(9){
    margin-left: 15vw;
}
.navbar-list-two a{
    color:#666262;
    text-decoration: none;
    /* margin-left: 20px; */
    font-family: var(--font-novencento);
}
.page-title{
    /* border: 2px solid; */
    background-image: url(../asset/image/page_title.png);
    /* height: 100px; */
}
.page-title__name{
    width: 75%;
    margin: auto;
}
.page-title__name p{
    font-size: 2.5vw;
    font-family: var(--font-novencento);
    padding: 20px 0px 20px 0px;
    /* margin: auto 0px auto 0px; */
    color: #fefefe;
}

/* ==================== HEADER END================ */

.about-portfolio{
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    border-bottom: 2px solid #cccccc;
}
.about-portfolio h1{
    font-family: var(--font-novencento);
    margin-bottom: 20px;
    color: #5f5b5b;
}
.about-portfolio p{
    font-family: var(--font-novencento);
    width: 70%;
    margin: auto;
    color:  #8f8f8f;
    margin-bottom: 50px;
}

/* ================== portolio-start ============= */
.whole-portfolio{
    position: relative;
}
.blank-div-one{
    background-color: #efefef;
    position: absolute;
    height: 270px;
    width: 100%;
    z-index: -1;
}
.wrapper-one{
    width: 75%;
    margin: auto;
    /* border: 2px solid; */
    display: flex;
}
.portfolio-one{
    width: 340px;
    /* position: relative; */
}
.portfolio-one h1{
    padding-top: 20px;
    margin-left: 30px;
    font-family: var(--font-novencento);
    color: #5f5b5b;
}
.portfolio-one p{
    color: #8f8f8f;
    margin: 15px 0px 15px 30px;
    font-family: var(--font-novencento);
}
/* .portfolio-one :hover .overlay{
    display: block;
}
.portfolio-one:hover .plus-icon{
    display: block;
} */
.pc-one{
    height: 225px;
    width: 310px;
    position: relative;
}
.overlay{
    position: absolute;
    top: 143px;
    left: 209px;
    height: 127px;
    width: 220px;
    /* display: none; */
}
.plus-icon{
    position: absolute;
    top: 180px;
    left: 295px;
    /* display: none; */
}
.pc-one:hover .overlay{
    display: none;
}
.pc-one:hover .plus-icon{
    display: none;
}
.portfolio-two{
    width: 340px;
}
.portfolio-two h1{
    padding-top: 20px;
    margin-left: 45px;
    font-family: var(--font-novencento);
    color: #5f5b5b;
}
.portfolio-two p{
    color: #8f8f8f;
    margin: 15px 0px 15px 45px;
    font-family: var(--font-novencento);
}
.pc-two{
    margin-left: 20px;
    width: 300px;
}
.portfolio-three{
    /* border: 2px solid; */
    width: 340px;
}
.portfolio-three h1{
    padding-top: 20px;
    margin-left: 60px;
    font-family: var(--font-novencento);
    color: #5f5b5b;
}
.portfolio-three p{
    color: #8f8f8f;
    margin: 15px 0px 15px 60px;
    font-family: var(--font-novencento);
}

.pc-three{
    margin-left: 35px;
    width: 300px;
}





.blank-div-two{
    background-color: #efefef;
    position: absolute;
    height: 270px;
    width: 100%;
    z-index: -1;
}
.wrapper-two{
    width: 75%;
    margin: auto;
    /* border: 2px solid; */
    display: flex;
}
.portfolio-four{
    width: 340px;
}
.portfolio-four h1{
    padding-top: 20px;
    margin-left: 30px;
    font-family: var(--font-novencento);
    color: #5f5b5b;
}
.portfolio-four p{
    color: #8f8f8f;
    margin: 15px 0px 15px 30px;
    font-family: var(--font-novencento);
}
.pc-four{
    /* height: 225px; */
    width: 300px;
}
.portfolio-five{
    width: 340px;
}
.portfolio-five h1{
    padding-top: 20px;
    margin-left: 45px;
    font-family: var(--font-novencento);
    color: #5f5b5b;
}
.portfolio-five p{
    color: #8f8f8f;
    margin: 15px 0px 15px 45px;
    font-family: var(--font-novencento);
}
.pc-five{
    margin-left: 20px;
    width: 300px;
}
.portfolio-six{
    /* border: 2px solid; */
    width: 340px;
}
.portfolio-six h1{
    padding-top: 20px;
    margin-left: 60px;
    font-family: var(--font-novencento);
    color: #5f5b5b;
}
.portfolio-six p{
    color: #8f8f8f;
    margin: 15px 0px 15px 60px;
    font-family: var(--font-novencento);
}

.pc-six{
    margin-left: 35px;
    width: 300px;
}

.blank-div-three{
    background-color: #efefef;
    position: absolute;
    height: 270px;
    width: 100%;
    z-index: -1;
    margin-top: 50px;
}
.wrapper-three{
    width: 75%;
    margin: auto;
    padding-top: 50px;
    /* border: 2px solid; */
    display: flex;
}
.blank-div-four{
    background-color: #efefef;
    position: absolute;
    height: 270px;
    width: 100%;
    z-index: -1;
    margin-top: 50px;
    margin-bottom: 200px;
}
.wrapper-four{
    width: 75%;
    margin: auto;
    padding-top: 50px;
    /* border: 2px solid; */
    display: flex;
    padding-bottom: 50px;
    border-bottom: 2px solid #cccccc;
}


.work-review-section{
    width: 75%;
    margin: 40px auto 60px auto ;
    /* border: 2px solid; */
    text-align: center;
} 
.work__review{
    color: #666262;
} 
.work__review h1{
    font-family: var(--font-novencento);
}
.work__review p{
    margin: 20px 0px 35px 0px;
    color: #9b9999;
    font-family: var(--font-novencento);
} 
.work__review a{
    width: 140px;
    background-color: #87b672;
    color: white;
    height: 40px;
    font-family: var(--font-novencento);
    border:none;
    padding: 5px 10px;
    text-decoration: none;
}
.work__review a:hover{
    background-color: #87b672a6;
}

/* ================ FOOTER START =============== */

